rtest() {
  if [ -d spec ]; then
    bundle exec rspec "$*";
  elif [ -d test ]; then
    bundle exec ruby -I "lib:test" "$*";
  else
    echo "Test directory not found"
  fi
}

get_keychain_pw () {
  security find-generic-password -a "$USER" -s "$1"
}

set_keychain_pw() {
  security add-generic-password -a "$USER" -s "$1" -w
}

update_keychain_pw() {
  security delete-generic-password -a "$USER" -s "$1" &> /dev/null
  security add-generic-password -a "$USER" -s "$1" -w
}

delete_keychain_pw() {
  security delete-generic-password -a "$USER" -s "$1" > /dev/null
}

hitch() {
  command hitch "$@"
  if [[ -s "$HOME/.hitch_export_authors" ]] ; then source "$HOME/.hitch_export_authors" ; fi
}

