[core]
	editor = vim
	excludesfile = /Users/alexander/.global_ignore

[alias]
  up = "!git remote update -p; git merge --ff-only @{u}"

[pager]
  branch = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main

[include]
  path = ~/.gitconfig.local
