[core]
	editor = vim
	excludesfile = ~/.global_ignore

[alias]
  up = "!git remote update -p; git merge --ff-only @{u}"
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"

[commit]
  template = ~/.gitmessage

[pager]
  branch = false

[init]
	defaultBranch = main
	templatedir = ~/.git_template

[include]
  path = ~/.gitconfig.local
