[user]
	name = Alexander Clark
	email = sasha.jackal@gmail.com
  signingkey = DA186925A5A8197A

[github]
	user = alexander-clark

[core]
	editor = vim
	excludesfile = /Users/alexander/.global_ignore

[alias]
  up = "!git remote update -p; git merge --ff-only @{u}"

[commit]
  template = /Users/alexander/.gitmessage
  gpgsign = true

[pager]
  branch = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
